#Unreal Engine
StarterContent/
Saved/
Binaries/
Build/
Debug/
Intermediate/
DerivedDataCache/
UnrealHeaderTool/
UnrealPak/
obj/
*.VC.opendb
*.opensdf
*.sdf
*.suo
Engine/Binaries/
Engine/DerivedDataCache/
Engine/Intermediate/
Engine/Saved/
Engine/Shaders/Binaries/
*.apk
*.apk
GameName/Binaries/
GameName/DerivedDataCache/
GameName/Intermediate/
GameName/Saved/
Saved/Autosaves/PackageRestoreData.json
Saved/Logs/ITG1.log
Saved/Config/Windows/Engine.ini
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
